; drupal_custom make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ TODO modules without versions +++++

projects[weight_language][version] = "" ; TODO add version
projects[weight_language][subdir] = "custom"

; +++++ Libraries +++++

; supersized
libraries[supersized][directory_name] = "supersized"
libraries[supersized][type] = "library"
libraries[supersized][destination] = "libraries"
libraries[supersized][download][type] = "get"
libraries[supersized][download][url] = "" ; TODO add download URI

; mediaelement
libraries[mediaelement][directory_name] = "mediaelement"
libraries[mediaelement][type] = "library"
libraries[mediaelement][destination] = "libraries"
libraries[mediaelement][download][type] = "get"
libraries[mediaelement][download][url] = "" ; TODO add download URI

; leaflet
libraries[leaflet][directory_name] = "leaflet"
libraries[leaflet][type] = "library"
libraries[leaflet][destination] = "libraries"
libraries[leaflet][download][type] = "get"
libraries[leaflet][download][url] = "" ; TODO add download URI

; fontawesome
libraries[fontawesome][directory_name] = "fontawesome"
libraries[fontawesome][type] = "library"
libraries[fontawesome][destination] = "libraries"
libraries[fontawesome][download][type] = "get"
libraries[fontawesome][download][url] = "" ; TODO add download URI

; phpQuery
libraries[phpQuery][directory_name] = "phpQuery"
libraries[phpQuery][type] = "library"
libraries[phpQuery][destination] = "libraries"
libraries[phpQuery][download][type] = "get"
libraries[phpQuery][download][url] = "" ; TODO add download URI

; jquery.imgareaselect
libraries[jquery.imgareaselect][directory_name] = "jquery.imgareaselect"
libraries[jquery.imgareaselect][type] = "library"
libraries[jquery.imgareaselect][destination] = "libraries"
libraries[jquery.imgareaselect][download][type] = "get"
libraries[jquery.imgareaselect][download][url] = "" ; TODO add download URI

; nivo-slider
libraries[nivo-slider][directory_name] = "nivo-slider"
libraries[nivo-slider][type] = "library"
libraries[nivo-slider][destination] = "libraries"
libraries[nivo-slider][download][type] = "get"
libraries[nivo-slider][download][url] = "" ; TODO add download URI

; leaflet_markercluster
libraries[leaflet_markercluster][directory_name] = "leaflet_markercluster"
libraries[leaflet_markercluster][type] = "library"
libraries[leaflet_markercluster][destination] = "libraries"
libraries[leaflet_markercluster][download][type] = "get"
libraries[leaflet_markercluster][download][url] = "" ; TODO add download URI

; mailchimp
libraries[mailchimp][directory_name] = "mailchimp"
libraries[mailchimp][type] = "library"
libraries[mailchimp][destination] = "libraries"
libraries[mailchimp][download][type] = "get"
libraries[mailchimp][download][url] = "" ; TODO add download URI

; jquery.autoanchor
libraries[jquery.autoanchor][directory_name] = "jquery.autoanchor"
libraries[jquery.autoanchor][type] = "library"
libraries[jquery.autoanchor][destination] = "libraries"
libraries[jquery.autoanchor][download][type] = "get"
libraries[jquery.autoanchor][download][url] = "" ; TODO add download URI

; jquery.easing
libraries[jquery.easing][directory_name] = "jquery.easing"
libraries[jquery.easing][type] = "library"
libraries[jquery.easing][destination] = "libraries"
libraries[jquery.easing][download][type] = "get"
libraries[jquery.easing][download][url] = "" ; TODO add download URI

; mmenu
libraries[mmenu][directory_name] = "mmenu"
libraries[mmenu][type] = "library"
libraries[mmenu][destination] = "libraries"
libraries[mmenu][download][type] = "get"
libraries[mmenu][download][url] = "" ; TODO add download URI

; jquery.imagesloaded
libraries[jquery.imagesloaded][directory_name] = "jquery.imagesloaded"
libraries[jquery.imagesloaded][type] = "library"
libraries[jquery.imagesloaded][destination] = "libraries"
libraries[jquery.imagesloaded][download][type] = "get"
libraries[jquery.imagesloaded][download][url] = "" ; TODO add download URI

